/*$background-color: #282c34;
$white-color: rgb(27, 225, 47);
$link-color: #61dafb; */

.dark {
    .text {
        color: $white;
    }

    .background {
        background-color: $dark-700;
    }
}

@import 'App'